Source: node-webpack
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends: debhelper-compat (= 13)
 , dh-nodejs
 , dh-sequence-nodejs
 , jest (>= 29) <!nocheck>
 , node-acorn (>= 8.5.0+ds+~cs24.17.6~)
 , node-babel7
 , node-browserslist <!nocheck>
 , node-chrome-trace-event <!nocheck>
 , node-colorette
 , node-commander
 , node-enhanced-resolve <!nocheck>
 , node-es-module-lexer
 , node-eslint-scope <!nocheck>
 , node-eslint-visitor-keys
 , node-esrecurse <!nocheck>
 , node-estraverse <!nocheck>
 , node-events <!nocheck>
 , node-findup-sync <!nocheck>
 , node-graceful-fs <!nocheck>
 , node-interpret (>= 2.2~) <!nocheck>
 , node-json-parse-better-errors <!nocheck>
 , node-libs-browser <!nocheck>
 , node-loader-runner <!nocheck>
 , node-mime-types <!nocheck>
 , node-neo-async <!nocheck>
 , node-p-limit <!nocheck>
 , node-rechoir
 , node-resolve-cwd <!nocheck>
 , node-rollup-plugin-commonjs
 , node-rollup-plugin-json
 , node-rollup-plugin-node-resolve
 , node-rollup-plugin-terser
 , node-schema-utils <!nocheck>
 , node-supports-color <!nocheck>
 , node-tapable (>= 2.0~)
 , node-typescript
 , node-watchpack <!nocheck>
 , node-webassemblyjs (>= 1.9.1+dfsg+~cs11.9.35~) <!nocheck>
 , node-webpack-merge (>= 5.8.0~)
 , node-webpack-sources (>= 3.2.1~) <!nocheck>
 , node-yargs <!nocheck>
 , rollup
 , terser <!nocheck>
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/js-team/node-webpack
Vcs-Git: https://salsa.debian.org/js-team/node-webpack.git
Homepage: https://github.com/webpack/webpack
Rules-Requires-Root: no

Package: webpack
Architecture: all
Depends: node-acorn (>= 8.5.0+ds+~cs24.17.6~)
 , node-browserslist
 , node-chrome-trace-event
 , node-colorette
 , node-commander (>= 7~)
 , node-enhanced-resolve
 , node-es-module-lexer
 , node-eslint-scope
 , node-eslint-visitor-keys
 , node-events
 , node-graceful-fs
 , node-import-local
 , node-interpret (>= 2.2~)
 , node-jest-worker
 , node-json-parse-better-errors
 , node-loader-runner
 , node-mime-types
 , node-neo-async
 , node-p-limit
 , node-rechoir
 , node-schema-utils
 , node-serialize-javascript
 , node-source-map
 , node-tapable (>= 2.0~)
 , node-types-eslint
 , node-watchpack
 , node-webassemblyjs
 , node-webpack-sources (>= 3.2.1~)
 , nodejs:any
 , terser
 , ${misc:Depends}
Provides: ${nodejs:Provides}
Breaks: node-mini-css-extract-plugin (<< 2.0~)
Description: Packs CommonJs/AMD modules for the browser
 Webpack takes code targeted at node.js and makes it run in the browser.
 Node.js comes with API of its own that is not available in the browsers.
 Webpack exposes this code to programs that are unaware they are running in a
 browser.
 .
 Node.js is an event-based server-side JavaScript engine.
